.contador input {
    width: 40px;
    text-align: center;
    font-weight: bolder;
}

.checkout button {
    width: 150px;
    height: 50px;
    background-color: rgb(19, 19, 19);
    color: white;
    border: none;
    border-radius: 8px;
    margin: 10px;
    cursor: pointer;
}

.carrinho{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.itensCarrinho{
    width: 700px;
    height: 250px;
    display: flex;
    align-items: flex-start;
    border-radius: 25px;
    margin: 30px;
    flex-direction: column;
}

.itensCarrinho img {
    width: 200px;
}

.itensCarrinho .descricao {
    width: 100%;
    font-size: 30px;
    margin-top: -184px;
}

.contador input{
    width: 40px;
    text-align: center;
    font-weight: bolder;
}

.checkout button{
    width: 221px;
    height: 56px;
    background-color: rgb(2, 2, 31);
    color: white;
    border: none;
    border-radius: 8px;
    margin: 10px;
    cursor: pointer;
    font-size: 20px;
}

.checkout {
    right: 440px;
    top: 520px;
    position: fixed;
    font-size: 25px;

}

.carrinhoTitulo {
    background-image: url("D:\Labenu Exercicios\projeto-react\src\assets\Galaxia-scaled.jpg");
    color: white;
    height: 100px;
}